body {
  color: #000000d9;
  font-size: 14px;
  font-variant: tabular-nums;
  background-color: #fff;
  font-feature-settings: "tnum";
  margin: 0;
  padding: 0;
  height: 100vh;
}
html{
  overflow: hidden;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #000000d9;
  font-weight: 500;
}

